body {
    background-color: antiquewhite;
}
.header-box {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: double;
    border-bottom: 2px double #cccccc;
}
.name-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 350px;
    height: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
    margin-left: 200px;
    top: 0;
    left: 20;
    font-size: 32px;
    font-weight: 700;
    float: left;
}

.name-spacer {
    min-width: 200px;
    height: 1px;
    width: 200px;
}

.links {
    background-color: #ffffff;
    color: #be1515;
    padding-top: 27px;
    height: 50px;
    text-align: right;
    padding-right: 200px;
}
.about {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.portfolio {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.contact {
    text-decoration: none;
    color: #ffffff;
}
.about-box {
    height: 417px;
    width: 876px;
    margin: auto;
    background-color: #ffffff;
}
.about-me {
    font-size: 32px;
    font-weight: 700;
    /* background-color: black; */
    color: #4aaaa5;
    padding-top: 17px;
    padding-left: 25px;
    height: 30px;
}
.photo {
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    float: left;
}
.about-text {
    color: #777777;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 27px;
}
.copyright {
    color: #ffffff;
    margin-top: 100px;
    font-size: 15px;
    text-align: center;
    height: 33px;
    padding-top: 13px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}