body {
    background-color: #faebd7;
    min-width: 1275px;
    max-width: 1275px;
}
.header-box {
    height: 77px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: double;
    border-bottom: 2px double #cccccc;
}
.name-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 350px;
    height: 50px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
    margin-left: 200px;
    top: 0;
    left: 20;
    font-size: 32px;
    font-weight: 700;
    float: left;
}
.links {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    color: #be1515;
    padding-top: 27px;
    height: 50px;
    text-align: right;
    padding-right: 200px;
}
.about {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.portfolio {
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
}
.contact {
    text-decoration: none;
    color: #ffffff;
}
.main-box {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 417px;
    min-width: 876px;
    max-width: 876px;
    margin: auto;
    background-color: #ffffff;
}
.about-me {
    font-size: 32px;
    font-weight: 700;
    color: #4aaaa5;
    padding-top: 17px;
    padding-left: 25px;
    height: 30px;
}
.hr {
    width: 826px;
    margin-bottom: 18px
}
.photo {
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    float: left;
}
.about-text {
    color: #777777;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 27px;
}
.contact-form input[type=text], select {
    width: 826px;
    padding: 10px 10px;
    margin: 0px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}
.contact-form {
    margin-left: 25px;
}
textarea {
    resize: none;
}
.submit {
    background-color: #4aaaa5;
    font-size: 15px;
    height: 40px;
    width: 85px;
}
.copyright {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    margin-top: 100px;
    font-size: 12px;
    text-align: center;
    height: 33px;
    padding-top: 13px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}